* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

.card {
    height: auto;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
}